@model AddressForm.MvcWeb.Models.PersonEditorModel
@{
    Layout = null;
}

<div class="row">
    <div class="col-md-9">
        @using (Html.BeginForm(Model.ActionName, "People", null, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <hr />
            @Html.ValidationSummary(true)

            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.StreetAddress, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.StreetAddress, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.StreetAddress)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ExtendedAddress, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.ExtendedAddress, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ExtendedAddress)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Country, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.DropDownListFor(m => m.Country, Model.Countries, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Country)
                </div>
            </div>

            <div id="region-textbox-group" class="form-group @(Model.IsUSorCA ? "hidden" : string.Empty)">
                @Html.LabelFor(m => m.RegionTextBox, new { @class = "col-md-3 control-label", id = "region-textbox-label" })
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.RegionTextBox, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.RegionTextBox)
                </div>
            </div>
            <div id="region-dropdownlist-group" class="form-group @(Model.IsUSorCA ? string.Empty : "hidden")">
                @Html.LabelFor(m => m.RegionDropDownList, Model.RegionDdlLabel, new { @class = "col-md-3 control-label", id = "region-dropdownlist-label" })
                <div class="col-md-9">
                    @Html.DropDownListFor(m => m.RegionDropDownList, (Model.IsUSorCA ? Model.RegionsByCountry[Model.Country] : new List<SelectListItem>()), new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.RegionDropDownList)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Locality, Model.LocalityLabel, new { @class = "col-md-3 control-label", id = "locality-label" })
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.Locality, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Locality)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.PostalCode, Model.PostalCodeLabel, new { @class = "col-md-3 control-label", id = "postalcode-label" })
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.PostalCode, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.PostalCode)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    <input type="submit" value="@Model.SubmitButtonLabel" class="btn btn-primary" />
                </div>
            </div>
        }
    </div>
</div>